
* {
    margin: auto;
}
.body {
    display: flex;
}

body {
    /* background: url('/media/logo_nooks_warehouse.png') no-repeat center center;
    background-size: cover; */
    background-color: white;
    height: calc(100vh - 160px);
}
/* ----------------------------------------- HEADER */

header {
    background-color: white;
}
.text-orange {
    color: orange !important;
}

/* ----------------------------------------- FOOTER */

footer {
    background-color: #25283D;
    color: white;
}

footer a {
    color: #97C8EB;
    text-decoration: none;
}

/* ----------------------------------------- MEDIA QUERIES */