
* {
    margin: auto;
}

body {
    background-color: white;
    /* height: calc(100vh - 160px); */
    height: 100vh;
}
/* ----------------------------------------- HEADER */

header {
    background-color: white;
}
.text-orange {
    color: orange !important;
}

/* ----------------------------------------- BUTTONS */

.btn-custom {
    background-color: #C4A29E;
}

/* ----------------------------------------- FOOTER */

footer {
    background-color: #25283D;
    color: white;
    bottom: 0;
}

footer a {
    color: #97C8EB;
    text-decoration: none;
}

/* ----------------------------------------- MEDIA QUERIES */