
* {
    margin: auto;
}

body {
    background-color: white;
    /* height: calc(100vh - 160px); */
    height: 100vh;
}
/* ----------------------------------------- HEADER */

nav {
    background-color: white;
}
.text-orange {
    color: orange !important;
}

.header-image{
    background-image: url('/static/images/header.jpg');
    background-position-y: 67%;
    background-color: black;
    height: 30vh;
    width: 100vw;
    background-size: cover;
}
.header-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ----------------------------------------- HOMEPAGE */

.card-1 {
    background-image: url('/static/images/new_arrivals.jpg');
    width: 100%;
    height: 37vh;
    background-size: cover;
    margin-bottom: 5%;
}

.card-2 {
    background-image: url('/static/images/baby_kids.jpg');
    width: 100%;
    height: 37vh;
    background-size: cover;
    margin-bottom: 5%;
}

.card-3 {
    background-image: url('/static/images/deals.jpg');
    width: 100%;
    height: 37vh;
    background-size: cover;
    margin-bottom: 5%;
    background-position-y: 30%;
}

.card-style {
    font-weight: bold;
    margin-top: 65%; 
} 
 .hidden {
    display: none;
 }

/* ----------------------------------------- BUTTONS */

.btn-custom {
    background-color: #C4A29E;
}

/* ----------------------------------------- FOOTER */

footer {
    background-color: #25283D;
    color: white;
    bottom: 0;
}

footer a {
    color: #97C8EB;
    text-decoration: none;
}

/* ----------------------------------------- MEDIA QUERIES */