{% extends 'base.html' %}

{% block page_header %}
    Shopping Cart
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="col-md-8 mt-5 offset-md-2">
            <h2>Hello {{ request.user.username }}!</h2>
            <p>See your shopping cart items below:</p>
        </div>  
        <div class="table-responsive-sm table-responsive-md">
            {% if shopping_items %}
            <table class="table">
                <thead>
                    <tr>
                        <th  scope="col"></th>
                        <th class="text-uppercase" scope="col">Article</th>
                        <th class="text-uppercase" scope="col">Price</th>
                        <th class="text-uppercase" scope="col">Quantity</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                {% for article in shopping_items %}    
                    <tr>
                        <th scope="row"><a href="{% url 'product_detail' article.product.id %}"><img class="" src="{{ article.product.image.url }}" alt=""></a></th>
                        <td>
                            <p><strong><a href="{% url 'product_detail' article.product.id %}">{{ article.product.name }}</a></strong></p>
                            <p>SKU: {{ article.product.sku }}</p>
                        
                            {% if article.product.has_sizes %}
                            <p><strong>Size: </strong>{{ article.size }}</p>
                            {% endif %}
                            
                        </td>
                        <td>
                            <p>&euro;{{ article.product.price }}</p>
                        </td>
                    <form class="form update-form form-control form-control-sm" id="update-form" method="POST" action="{% url 'edit_cart' article.article_id %}">
                        {% csrf_token %}
                        <td>
                            <input type="number" id="id_qty_{{ article.article_id }}" name="quantity" value="{{ article.quantity }}" min="1" max="50" data-item_id="{{ article.article_id }}">
                        </td>
                        {% if article.product.has_sizes %}
                            <input type="hidden" name="size_option" value="{{ article.size }}">
                        {% endif %}
                     </form>    
                        <td>    
                            <a class="update-click btn btn-outline-dark btn-sm" id="update_{{ article.article_id }}" type="submit" onclick="document.getElementById('update-form').submit();">Update Cart</a>
                            <a class="remove-item btn btn-outline-dark btn-sm" id="remove_{{ article.article_id }}" data-product_size="{{ article.size }}" onclick="return confirm('Are you sure you want to delete this article?')">X</a>
                        </td>
                   
                    </tr>
                {% endfor %}
                    <tr>
                        <td colspan="4"></td>
                        <td class="text-right" colspan="2"><strong> Shoppingcart total: &euro;{{ total|floatformat:2 }}</strong></td>
                    </tr>    
                    <tr>
                        <td colspan="4"></td>
                        <td>
                            <a class="btn btn-custom" href="{% url 'products' %?">Keep Shopping</a>
                            <a class="btn btn-custom" href="{% url 'payments' %}">Checkout</a>
                        </td>
                    </tr>  
                </tbody>
            </table>
            {% else %}
                <p>You shopping cart is empty</p>
                <a class="btn btn-custom btn-sm mt-3 mb-5" href="{% url 'products' %}">Shop Now!</a>
            {% endif %}
        </div>
    </div>
</section>
<script type="text/javascript">
    // Update quantity on click
    var form = document.getElementById("update-form");
    
    $('.update-click').click(function(e) {
        console.log("update has been clicked")
        var form = $(this).parent().prev().prev().prev('.update-form');
        form.submit();
    })
    $('.update-click').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('size-option');
        var url = `/shoppingcart/delete_from_cart/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'size-option': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}